asgiref==3.2.5
boto3==1.12.19
botocore==1.15.19
certifi==2020.4.5.1
Django==3.0.3
django-mysql-rds==0.3.1
docutils==0.15.2
jmespath==0.9.5
mysqlclient==1.4.6
numpy==1.18.1
pprint==0.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
